 body{
        font-family:helvetica;
      }
      
      .TOC {
        list-style:none;
        
      }
      
      ul {
        list-style-type: none;
      }
      
      h1{
        text-align:center;
        font-size: 60px;
        
      }
      
      .lesson {
        background-color:#004c99;
        border-radius: 20px;
        color: white;
      	padding: 10px;
	      margin: 10px auto;
      }
      
      h2{
        margin:10px;
        text-align: center;
        font-size:40px;
      }
      
      h3{ 
        margin-left: 10px;
        font-size:30px;
      }
      
      p{
        margin:10px;
      }    

  
      .Part1 {
        color:white;
        font-size:30px;
      }
      
      .PartBox {
        background-color:#66b2ff;
      }
      
      .ConcertBox {
    background-color: #DFEAF1;
  	padding: 4px;
  	margin: 10px;
  	border-radius: 4px;
  	color: black;
      }

      .Concert-Title {
    text-align: left;
    margin:10px;
    font-size:40px;
        }

      .description ol {
      font-size: 40px;

      }